.page {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

.heroImageWrapper {
  width: 100%;
  display: block;
  line-height: 0;
  /* Removes potential bottom whitespace */
}

.heroImage {
  width: 100%;
  height: auto;
  display: block;
}