.section {
    width: 100%;
    background-color: #ffffff;
    padding: 6.9vw 3.3vw;
    display: flex;
    flex-direction: column;
    gap: 10.4vw;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.badge {
    background-color: #000000;
    color: #ffffff;
    padding: 1.1vw 2.2vw;
    border-radius: 3.5vw;
    font-family: var(--font-geist-mono);
    font-size: 1.25vw;
    text-transform: uppercase;
    font-weight: 500;
}

.description {
    width: 70%;
    font-family: var(--font-geist-sans);
    font-size: 3.4vw;
    font-weight: 400;
    font-style: normal;
    line-height: 95%;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7vw 2.1vw;
    width: 100%;
}

.tag {
    font-family: var(--font-geist-sans);
    font-size: 2.48vw;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #000000;
    display: inline-flex;
    align-items: center;
    gap: 0.8vw;
    vertical-align: middle;
}

.tag img {
    width: 2.48vw !important;
    height: 2.48vw !important;
}

@media (max-width: 1024px) {
    .description {
        width: 100%;
        font-size: 40px;
        margin-top: 40px;
    }

    .topContainer {
        flex-direction: column;
    }
}